{
  "mcpServers": {
    "cloudflare": {
      "command": "npx",
      "args": ["mcp-remote", "https://docs.mcp.cloudflare.com/sse"]
    },
    "mongodb": {
      "command": "npx",
      "args": [
        "mongo-mcp",
        "{{ mongodb_url }}{{ project_slug }}?authSource=admin"
      ]
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@playwright/mcp@latest",
        "--browser=chromium"
      ],
      "env": {}
    },
    "redis": {
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/redis/mcp-redis.git",
        "redis-mcp-server",
        "--url",
        "{{ redis_url }}/0"
      ]
    }
  }
}
