repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.7.12
    hooks:
      - id: uv-sync
        always_run: true
  - repo: local
    hooks:
      - id: pnpm-install
        name: pnpm install
        entry: pnpm install
        language: system
        pass_filenames: false
        always_run: true
  - repo: local
    hooks:
      - id: pyclean
        name: pyclean
        entry: uvx pyclean .
        language: system
        always_run: true
        pass_filenames: false
