repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
  - repo: local
    hooks:
      - id: djlint
        name: djlint
        entry: djlint --reformat
        language: python
        files: \.html\.jinja$
        additional_dependencies: [djlint]
      - id: markdownlint
        name: markdownlint
        entry: bun markdownlint --fix
        language: system
        files: \.md$
