networks:
  {{ project_slug }}:
    name: {{ project_slug }}
  alltuner-network:
    external: true
    name: alltuner-network

services:
{%- if enable_job_queue %}
  {{ project_slug }}-worker:
    image: alltuner-docker-registry.long-python.ts.net/{{ project_slug }}:latest
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - {{ project_slug }}
      - alltuner-network
    command: ['worker']
    labels:
      managed_by: "all-tuner"
{%- if enable_watchtower %}
      com.centurylinklabs.watchtower.enable: "true"
{%- endif %}
{%- endif %}
  {{ project_slug }}:
    build:
      context: .
      args:
        VERSION: ${VERSION:-0.0.0}
        PYTHON_VERSION: ${PYTHON_VERSION:-{{ python_version }}}
        ENVIRONMENT: ${ENVIRONMENT:-development}
      x-bake:
        platforms:
          - linux/amd64
          - linux/arm64
        push: true
        tags:
          - alltuner-docker-registry.long-python.ts.net/{{ project_slug }}:${VERSION:-0.0.0}
          - alltuner-docker-registry.long-python.ts.net/{{ project_slug }}:latest
    image: alltuner-docker-registry.long-python.ts.net/{{ project_slug }}:latest
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import urllib.request; urllib.request.urlopen('http://localhost:8000/health/ping')"
        ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - {{ project_slug }}
      - alltuner-network
    labels:
      managed_by: "all-tuner"
{%- if enable_watchtower %}
      com.centurylinklabs.watchtower.enable: "true"
{%- endif %}
{%- if fqdn %}
      caddy_0: {{ fqdn }}
      caddy_0.reverse_proxy: {% raw %}"{{upstreams 8000}}"{% endraw %}
      caddy_0.tls.dns: cloudflare ${CF_API_TOKEN}
      caddy_0.log.output: file /var/log/caddy/{{ fqdn }}.log
      caddy_0.log.output.import: log-rotation
      caddy_0.import: umami
{%- endif %}
      # Above this line, nothing should be changed
      # Below this line, nothing should be changed
# End of file: do not remove this line or add any content below
