{
  "version": 1.5,
  "locale": {
    "source": "en",
    "targets": [
    {% for lang in supported_languages -%}
      "{{ lang }}"{% if not loop.last %},{% endif %}
    {% endfor %}]
  },
  "buckets": {
    "po": {
      "include": [
        "locales/[locale]/LC_MESSAGES/messages.po"
      ]
    }
  },
  "$schema": "https://lingo.dev/schema/i18n.json",
  "provider": {
    "id": "anthropic",
    "model": "claude-3-7-sonnet-latest",
    "prompt": "You're translating text from {source} to {target}."
  }
}
