{% set redis_enabled = enable_redis or enable_job_queue %}
[project]
name = "{{ project_name }}"
dynamic = ["version"]
description = "{{ project_description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
    # These are the base dependencies of AllTuner's blessed stack
    "arel>=0.3.0",
    "asyncer>=0.0.8",
{%- if enable_mongodb %}
    "beanie[zstd]>=1.29.0",
{%- endif %}
    "click<8.2", # Fixme, remove when the stderr error is fixed
    "fastapi[standard]>=0.115.12",
    "itsdangerous>=2.2.0",
    "loguru>=0.7.3",
    "pydantic>=2.11.4",
    "pydantic-extra-types[pycountry]>=2.10.4",
    "pydantic-settings>=2.9.1",
    "pyyaml>=6.0.2",
{%- if redis_enabled %}
    "redis[hiredis]>=5.3.0",
{%- endif %}
    "rich>=14.0.0",
{%- if enable_job_queue %}
    "streaq>=0.2.1",
{%- endif %}
    "starlette-babel>=1.0.3",
    "starlette-compress>=1.6.0",
    "starlette-htmx>=0.1.1",
    "typer-slim[standard]>=0.16.0",
    # Below this line you can add your dependencies
]

[project.scripts]
{{ project_name }} = "{{ project_name }}.cli:app"


[dependency-groups]
scaffolding = [
    # Here we add the dependencies needed for scaffolding
    # You should not add anything in this dependency group
    "beanie[zstd]>=1.29.0",
    "cloudflare>=4.2.0",
    "redis[hiredis]>=5.3.0",
    "ruff>=0.11.4",
    "streaq>=0.2.1",
    "ty>=0.0.0a8",
]
dev = [
    "types-pyyaml>=6.0.12.20250516",
    # Add below this line any dependencies you need for development
]

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.uv]
default-groups = ["dev", "scaffolding"]

[tool.ruff.lint]
extend-select = [
    # E and F are enabled by default
    'B',      # flake8-bugbear
    'C4',     # flake8-comprehensions
    'C90',    # mccabe
    'I',      # isort
    'N',      # pep8-naming
    'Q',      # flake8-quotes
    'RUF100', # ruff (unused noqa)
    'S',      # flake8-bandit
    'W',      # pycodestyle
]

[tool.ruff.lint.isort]
combine-as-imports = true
lines-after-imports = 2

[tool.mypy]
plugins = ['pydantic.mypy']

[tool.uv-dynamic-versioning]
fallback-version = "0.0.0"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.build.hooks.version]
path = "src/{{ project_name }}/_version.py"
template = '''
version = "{version}"
'''
