[project]
name = "{{ project_slug }}"
dynamic = ["version"]
description = "{{ project_description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
    # These are the base dependencies of AllTuner's blessed stack
    "prototuner",
    # Below this line you can add your dependencies
]

[project.scripts]
cli = "core.cli:app"

[dependency-groups]
dev = [
    "prototuner[dev]",
    # Add below this line any dev dependencies you need for development
]

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.uv]
cache-keys = [
    { file = "pyproject.toml" },
    { git = { commit = true, tags = true } },
]

[tool.uv.sources]
prototuner = { git = "https://github.com/alltuner/prototuner" }

[tool.uv-dynamic-versioning]
fallback-version = "0.0.0"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.build.hooks.version]
path = "src/core/_version.py"
template = '''
version = "{version}"
'''

[tool.hatch.build.targets.wheel]
sources = ["src"]

[tool.pyright]
include = ["src"]
exclude = ["**/node_modules", "**/__pycache__", ".git", ".venv"]
venvPath = "."
venv = ".venv"
typeCheckingMode = "basic"
reportMissingImports = false
reportMissingTypeStubs = false
reportGeneralTypeIssues = "warning"
reportOptionalMemberAccess = false
reportOptionalSubscript = false
extraPaths = ["src"]
