[project]
name = "{{ project_name }}"
dynamic = ["version"]
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
]

[project.scripts]
{{ project_name }} = "{{ project_name }}.cli:app"


[dependency-groups]
scaffolding = [
    # Here we add the dependencies needed for scaffolding
    # You should not add anything in this dependency group
     "ruff>=0.11.4",
     "ty>=0.0.0a8",
]
dev = [
]

[tool.uv]
default-groups = ["dev", "scaffolding"]

[tool.ruff.lint]
extend-select = [
    # E and F are enabled by default
    'B',      # flake8-bugbear
    'C4',     # flake8-comprehensions
    'C90',    # mccabe
    'I',      # isort
    'N',      # pep8-naming
    'Q',      # flake8-quotes
    'RUF100', # ruff (unused noqa)
    'S',      # flake8-bandit
    'W',      # pycodestyle
]

[tool.ruff.lint.isort]
combine-as-imports = true
lines-after-imports = 2

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.uv-dynamic-versioning]
fallback-version = "0.0.0"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.build.hooks.version]
path = "src/{{ project_name }}/_version.py"
template = '''
version = "{version}"
'''
