#!/bin/sh
set -e

echo "Starting the application..."

if [ "$1" = "shell" ]; then
    echo "Starting shell..."
    exec /bin/bash
elif [ "$1" = "sleep" ]; then
    echo "Container will sleep forever..."
    exec sleep 2147483647
elif [ "$1" = "local-dev" ]; then
    echo "Starting in development mode..."
    DEBUG=1 exec uvicorn {{ project_slug }}.frontend:app --host 0.0.0.0 --reload --reload-dir src/{{ project_slug }} --reload-dir templates/frontend --reload-include '*.py' --reload-include '*.html.jinja'
{%- if enable_job_queue %}
elif [ "$1" = "worker" ]; then
    echo "Starting task worker..."
    exec streaq {{ project_slug }}.tasks.worker.worker
elif [ "$1" = "worker-dev" ]; then
    echo "Starting task worker in development mode..."
    DEBUG=1 exec streaq --verbose --watch castuner.tasks.worker.worker
{%- endif %}
#### Add your custom startup commands below this line
#### End of custom startup commands, do not add anything below
elif [ "$ENVIRONMENT" = "production" ]; then
    echo "Starting in production mode..."
    exec fastapi run src/{{ project_slug }}/frontend
else
    echo "Starting in development mode..."
    exec fastapi dev --host 0.0.0.0 src/{{ project_slug }}/frontend
fi
