{
  "permissions": {
    "allow": [
      "Bash(curl:*)",
      "Bash(find:*)",
      "Bash(git add:*)",
      "Bash(git commit:*)",
      "Bash(git push:*)",
      "Bash(just compile-locales)",
      "Bash(just extract-translations:*)",
      "Bash(just i18n:*)",
      "Bash(just local-dev)",
      "Bash(just new-locale:*)",
      "Bash(just update-locale-files:*)",
      "Bash(just worker-dev)",
      "Bash(ls:*)",
      "Bash(mkdir:*)",
      "Bash(msgattrib:*)",
      "Bash(msgfmt:*)",
      "Bash(nc:*)",
      "Bash(pnpm dev)",
      "Bash(python:*)",
      "Bash(rg:*)",
      "Bash(ruff:*)",
      "Bash(time:*)",
      "Bash(tree:*)",
      "Bash(ty:*)",
      "Bash(uv:*)",
      "mcp__ide__getDiagnostics",
      "mcp__mongodb__find",
      "mcp__mongodb__indexes",
      "mcp__mongodb__listCollections",
      "mcp__playwright__browser_click",
      "mcp__playwright__browser_close",
      "mcp__playwright__browser_console_messages",
      "mcp__playwright__browser_evaluate",
      "mcp__playwright__browser_file_upload",
      "mcp__playwright__browser_handle_dialog",
      "mcp__playwright__browser_hover",
      "mcp__playwright__browser_navigate",
      "mcp__playwright__browser_navigate_back",
      "mcp__playwright__browser_network_requests",
      "mcp__playwright__browser_press_key",
      "mcp__playwright__browser_select_option",
      "mcp__playwright__browser_snapshot",
      "mcp__playwright__browser_tabs",
      "mcp__playwright__browser_take_screenshot",
      "mcp__playwright__browser_type",
      "mcp__playwright__browser_wait_for",
      "Read(~/Desktop/*.png)",
      "WebFetch(domain:localhost)",
      "Bash({{ project_slug }}:*)"
    ],
    "deny": []
  },
  "enableAllProjectMcpServers": true
}