############################################################
# Environment Configuration
############################################################
.env


############################################################
# Python
############################################################
# Bytecode and cache
__pycache__/
*.py[oc]
.ruff_cache/

# Virtual environments
.venv


############################################################
# Frontend
############################################################
node_modules/


############################################################
# macOS
############################################################
.DS_Store


############################################################
# Editor Temporary Files
############################################################
# Vim
*.swp
*.swo
*~
.*.swp
.*.swo

# Emacs
\#*\#
.\#*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


############################################################
# Template Specific
############################################################
.git
copier-template/bun.lock
copier-template/uv.lock


############################################################
# Documentation
############################################################
_site/


############################################################
test_projects/
