############################################################
# Environment Configuration
############################################################
.env


############################################################
# Python
############################################################
# Bytecode and cache
__pycache__/
*.py[oc]
.ruff_cache/

# Virtual environments
.venv


############################################################
# Frontend
############################################################
node_modules/


############################################################
# macOS
############################################################
.DS_Store


############################################################
# Template Specific
############################################################
.git
template/bun.lock
template/uv.lock


############################################################
