repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.0
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Use the ref you want to point at
    hooks:
      - id: no-commit-to-branch
  - repo: https://github.com/rvben/rumdl-pre-commit
    rev: v0.0.155  # Use the latest release tag
    hooks:
      - id: rumdl
        name: rumdl check
        pass_filenames: true
        require_serial: true
