{% extends "base/skeleton.html.jinja" %}

{% block body %}
<div class="auth-container">
    <h1>Login</h1>
    <p>Choose your login method:</p>

    <ul class="provider-list">
        {% for provider in providers %}
        <li>
            <a href="{{ url_for('login_with_' + provider) }}{% if next %}?next={{ next }}{% endif %}">
                Login with {{ provider|title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
