[lint]
extend-select = [
  # E and F are enabled by default
  'B',      # flake8-bugbear
  'C4',     # flake8-comprehensions
  'C90',    # mccabe
  'I',      # isort
  'N',      # pep8-naming
  'Q',      # flake8-quotes
  'RUF100', # ruff (unused noqa)
  'S',      # flake8-bandit
  'W',      # pycodestyle
  'FA100',  # ban `from __future__ import annotations` (breaks FastAPI/Pydantic)
]

[lint.isort]
combine-as-imports = true
lines-after-imports = 2
