/* Start of File: do not remove this comment and don't add anything above */
/* Do not change anything between this comment and the next comment */
@import "tailwindcss" source(none);
@source "templates";
@source "assets/statics/js";
@source ".core-templates";
@plugin "daisyui";
/* Do not change anything between this comment and the one above */
/* End of File: do not remove this comment or add anything below */
