<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" href="{{ url_for('static', path='/css/bundle.css').path }}" />
<script src="{{ url_for('static', path='/js/bundle.js').path }}"></script>

{% if umami_website_id %}<script defer src="/meta.js" data-website-id="{{ umami_website_id }}"></script>{% endif %}

{% block head %}{% endblock %}
</head>

<body hx-ext="preload" preload="mousedown">
{% block body %}{% endblock %}
</body>
</html>
